.forecastImage{
    width: 40px;
}

.DailyForecast-day{
   margin-top: 10px;
}

.forecastStyle{
    border: 1px solid #eecda3; 
    border-radius: 20px;
    max-width: 500px;
   margin: 0 auto;
   padding-left: 10px;
  text-align: center;
}

.DailyForecast-temperature {
    margin-bottom: 10px;
}

.DailyForecast-temperature-min{
    opacity: 0.5;
    margin-left: 5px;
}