:root{
   --background:  linear-gradient(to right, #eecda3, #ef629f); 
  
}


ul{
    list-style-type: none;
}
.Wrapper {
       max-width: 600px;
    margin: 30px auto;
  }

  .Border{
   padding: 20px;
   border: 1px solid #eecda3;
   border-radius: 5px;
   background:var(--background);

  }


  h1{
   text-align: center;
  }
  .image{
    width: 150px;
    display: block;
    margin: 0 auto;
  }
 .form{
    margin-top: 10px;
    margin-left: 40px;
 }

.btn-primary{
   margin-top: 6px;
   margin-left: 30px;
}

 .degree{
    font-size: 40px;
    font-weight: bold;
 }
 .position{
 text-align: center;
 }
 .temperature{
    position: relative;
    bottom: 20px;
    right: 10px;
    font-size: 15px;
 }
 .description{
    position: relative;
    right: 20px;
    top: 5px;
 }

 .lists{
  text-align: center;
 }
 
 footer{
   margin-top: 10px;
   text-align: center;
 }